/.idea/runConfigurations/
/target/
/src/main/resources/
/.idea/compiler.xml
/.idea/intellij-javadocs-4.0.1.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
/dataSources/
/dataSources.local.xml
/shelf/
/workspace.xml

/docs/index-files/
/docs/legal/
/docs/resources/
/docs/script-dir/
/docs/allclasses-index.html
/docs/allpackages-index.html
/docs/copy.svg
/docs/element-list
/docs/help-doc.html
/docs/index.html
/docs/jquery-ui.overrides.css
/docs/Listings.html
/docs/member-search-index.js
/docs/module-search-index.js
/docs/overview-tree.html
/docs/package-search-index.js
/docs/package-summary.html
/docs/package-tree.html
/docs/script.js
/docs/search.js
/docs/stylesheet.css
/docs/tag-search-index.js
/docs/type-search-index.js
